
table,
tr {
  width: 100%;
  
}

td,
th {
  width: 25%;
}

th.mat-sort-header-sorted {
  color: black;
  
}

.highlight {
  background: #42A948;
  /* green */
}

.example-input {
  margin-top: 20px;
  width: 100%;
  display: inline-block;

}


@media(max-width: 600px) {
  .example-input {
    margin-top: 20px;
    width: 100%;
    display: inline-block;
  
  }
    table,tr,td,th{
      display:inline-block;
     
    }
    .mat-table, .mat-cell, .mat-header-cell{
      display:inline-block;
    }
  .mat-row{
    display: inline-block;
  }
  .mat-header-row {
    display: inline-block;
  
   
  }
  .container {
    display:inline-block;
    width: 80%;
    margin: 10%;
  }
   }

.container {
  width: 80%;
  margin: 10%;
}