
<div class="container">
<app-search></app-search>
<router-outlet></router-outlet>

<mat-table #table [dataSource]="dataSource" class="mat-elevation-z8 table-container" matSort>

  <!-- Checkbox Column -->
  <ng-container matColumnDef="select">
    <mat-header-cell *matHeaderCellDef>
      <mat-checkbox (change)="$event ? toggleAllRows() : null" [checked]="selection.hasValue() && isCurrentPageSelected()"
        [indeterminate]="selection.hasValue() && !isCurrentPageSelected()" [aria-label]="checkboxLabel()" >
      </mat-checkbox>
    </mat-header-cell>
    <mat-cell *matCellDef="let row">
      <mat-checkbox (click)="$event.stopPropagation()" (change)="toggle($event, row)"
        [checked]="selection.isSelected(row)" [aria-label]="checkboxLabel1(row)">
      </mat-checkbox>
    </mat-cell>
  </ng-container>
 
     <!-- Name Column -->
     <ng-container matColumnDef="name">
       <mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
        <mat-cell *matCellDef="let element; let i = index">
        <span class="mobile-label">Name:</span>
        <ng-container *ngIf="element.edit; else notEdit">
        <mat-form-field appearance="outline" >
        <input matInput type="text" value="{{element.name}}" (keydown)="onKeydown($event, element, 'name')">
       </mat-form-field>
        </ng-container>
        <ng-template #notEdit>
        {{element.name}}
        </ng-template>
        </mat-cell>
        </ng-container>
   
  <!-- Email Column -->
    <ng-container matColumnDef="email"> 
     <mat-header-cell *matHeaderCellDef  mat-sort-header> Email 
     </mat-header-cell>
     <mat-cell *matCellDef="let element">
      <span class="mobile-label">Email:</span>
      <ng-container *ngIf="element.edit; else notEdit1">
      <mat-form-field appearance="outline" >
      <input matInput type="text" value="{{element.email}}" (keydown)="onKeydown($event, element, 'email')"  >
      </mat-form-field>
      </ng-container>
        <ng-template #notEdit1>
         {{element.email}}
         </ng-template>
         </mat-cell>
        </ng-container>
  

  <!-- Role Column -->
     <ng-container matColumnDef="role">
      <mat-header-cell *matHeaderCellDef> Role</mat-header-cell>
       <mat-cell *matCellDef="let element">
        <span class="mobile-label">Role:
        </span>
       <ng-container *ngIf="element.edit; else notEdit2">
       <mat-form-field appearance="outline" >
       <input matInput type="text" value="{{element.role}}" (keydown)="onKeydown($event, element, 'role') " >
        </mat-form-field>
        </ng-container>
        <ng-template #notEdit2>
        {{element.role}}
        </ng-template>
        </mat-cell>
        </ng-container>

        <!-- Actions Column -->
      <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef>Actions </mat-header-cell>
      <mat-cell *matCellDef="let row">
        <span class="mobile-label"> Actions</span>
      <mat-icon (click)= "handleEdit(row)">launch</mat-icon>
      <mat-icon color="warn" class="white" (click)="handleDelete(row)">delete_outline</mat-icon>
      </mat-cell>
      </ng-container>
  
          <!-- Highlight Row -->
       <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
       <mat-row *matRowDef="let row; columns: displayedColumns;" (click)="toggle($event, row)" #highlight #rowClicked></mat-row>
        </mat-table>

         <!-- Delete Button -->
        <p>
       <button mat-fab extended color="accent" type="delete" (click)="deleteSelected()">Delete selected</button>

           <!-- Paginator -->
      <mat-paginator #pagination [pageSize]="10"
                 [pageSizeOptions]="[5, 10, 20]"
                 [showFirstLastButtons]="true">
                </mat-paginator>
             </p>
              </div>
